<html>

<head>
  <style>

  </style>
</head>

<body>
  <p>Hi {{username}},</p>
  <p>You have successfully created an NFT certificate with mint price {{mintPrice}} AVAX.</p>
  <br>
  <p>Kindly share this link - <a
    href="claim-url-here/{{mintId}}" target="_blank" rel="noopener noreferrer">claim-url-here/{{mintId}}</a> with people you would like to claim the certificate.
  </p>
  <br>
  <button><a href={{txUrl}}>Click here to view the transaction</a></button>
  <h3><strong>Best regards, Xertis</strong></h3>
</body>
</html>