<html>

<head>
  <style>

  </style>
</head>

<body>
  <h2>Hi {{username}},</h2>
  <p>{{minter}} successfully minted your "{{certificateName}}" NFT certificate 🥳</p>
  <br>
  <p>Total minted: {{minted}}</p>
  <p>Total Earnings: ${{totalAmount}}</p>
  <br>
  <p>Kindly go to/log into your dashboard to view more details.</p>

  <h3><strong>Best regards, Xertis</strong></h3>
</body>
</html>